<plugin name='open-jpa-provider' version='1.0.0.M1' grailsVersion='2.0 &gt; *'>
  <author>Your name</author>
  <title>Open Jpa Provider Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/open-jpa-provider</documentation>
  <type>OpenJpaProviderGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='org.apache.openjpa' name='openjpa-all' version='2.1.1' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>